@use "../vars/vars" as *;


.section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	&__text{
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 80%;
		margin: 1.5rem auto;
		padding: 1rem 2rem;
		max-width: 750px;
		text-align: center;
		&-title{
			font:{
				size: 2.6rem;
				weight: 600;
			}
			color: $secondary-color;
		}
		&-description{
			font-size: 1.2rem;
			margin-top: 1rem;
		}
		&-btn{
			display: inline-block;
			font-size: 2.4rem;
			padding: .3rem .8rem;
			outline: 2px solid $secondary-color;
			margin-top: 1.5rem;
			transition: background-color .2s ease-in;
			&:hover{
				background-color: $secondary-color;
			}
		}
	}
	&__img{
		max-width: 800px;
		min-width: 40%;
		object-fit: cover;
	}
	@media screen and (min-width: 768px) {
		flex-direction: row;
		align-items: center;
		&--reverse{
			flex-direction: row-reverse;
		}
	}
}